.upper-container{
    padding-left:3rem;
    padding-right:3rem;
    padding-top:2rem;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color:white;
    
}

.upper-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding:0px;
}
.upper-left{
    padding-top: 20px;
    flex-basis: 50%   
}
.upper-left h1{
    font-size: 70px;
    padding-right: 20px;
   
    font-weight: 400;
}
.upper-left h2{
    font-size:40px;
    font-family: cursive;
}
.upper-left h3{
    font-size:30px;
    font-family:cursive
}
.upper-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:30px;
}
.upper-right img{
    height:28rem;
    width:35rem;
    border-radius: 10%;
    align-content:flex-end;
    
    
}


@media (max-width:987px) {
    .upper-left h1{
        font-size: 50px;
        padding-right: 20px;
        font-weight: 400;
    }
    .upper-left h2{
        font-size:35px;
        font-family: cursive;
    }
    .upper-left h3{
        font-size:25px;
        font-family:cursive
    }

    
}

@media (max-width:641px) {
    .upper-container{
       
        max-height: max-content;
        margin-bottom: 22rem;
        
        
    }
    .upper-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        
    }
    .upper-left{
        padding: 20px;
          
    }
    .upper-left h1{
        font-size: 50px;
        padding-right: 20px;
        font-weight: 400;
    }
    .upper-left h2{
        font-size:35px;
        font-family: cursive;
    }
    .upper-left h3{
        font-size:25px;
        font-family:cursive
    }

    
}